* {
	padding: 0;
	margin: 0;	
}

/* TYPO */
body {
	font-family: "Roboto", Helvetica, Arial, sans-serif;
	font-size: 1.2rem;
}
h1 {
	font-weight: 300;
	font-size: 1.5rem;
}
h2, h3, h4 {
	font-weight: 300;
	font-size: 1.2rem;
}

article p {
	font-size: .8rem;
}
article h2 {
	margin: 1rem 0;
}
article p:not(:last-child) {
	margin-bottom: 1rem;
}
h3 {
	font-size: .8rem;
	color: #4705b4;
}
a {
	font-size: .8rem;
	color: black;
}

img {
	width: 100%;
}

#mapid {
    height: 100vh;
}

aside label {
	display: flex;
	margin-top: 5px;
	color: #4705b4;
	cursor: pointer;
}
aside label span {
	position: relative;
	padding-left: 29px;
}
aside label span:not(.cat_title){
	color: black;
	font-size: .8rem;
	padding-left: 5px;
}
aside label > span::before {
	content: '';
	position: absolute;
	left: 0px;
	top: 1px;

	width: 20px;
	height: 20px;
	border: 2px solid black;
	border-radius: 20px;
}
aside label span.active::before {
	background: black;
}

aside label:hover span:not(.active)::before {
	background: #ddd;
}

aside input {
	-webkit-appearance: none;
	appearance: none;
}

/*
#mapid.filtered .leaflet-marker-icon:not(.selected) {
  display: none;
}
*/

#mapid.filtered path:not(.selected) {
	fill: #ddd;
	stroke: #4705b4 !important;
}
#mapid.filtered .leaflet-popup-content > div > ul > li:not(.selected) span {
	opacity: .5;
}

/* reset leaflet */

.leaflet-popup {
	font-family: "Roboto", Helvetica, Arial, sans-serif;
	font-size: .8rem;
	letter-spacing: 0px;
}
.leaflet-popup-content {
    margin: 13px 13px;
}
.leaflet-popup-content-wrapper {
	border-radius: 0px;
}
.leaflet-popup ul {
	margin-left: 10px;
	margin-top: 10px;
	list-style: inside;
}
.leaflet-popup ul li {
	position: relative;
	cursor: pointer;
}
.leaflet-container a.leaflet-popup-close-button {
	padding: 7px 20px 0 0;
	color: black;
}

.leaflet-popup .subpopup {
	position: absolute;
	top: 24px;
	left: 0px;
	box-shadow: 0 3px 14px rgba(0,0,0,0.4);
}
.leaflet-popup .subpopup .content {
	position: relative;
    padding: 10px;
    background: white;
    width: auto;
    min-width: 220px;
    max-width: 330px;
    z-index: 10;
    cursor: auto;
}

.subpopup ul {
	list-style: circle;
}
.subpopup a {
	position: absolute;
	top: 0;
	right: 0;
	padding: 4px 4px 0 0;
	text-align: center;
	width: 18px;
	height: 14px;
	color: black;
	text-decoration: none;
	font: 16px/14px Tahoma, Verdana, sans-serif;
	font-weight: bold;
	cursor: pointer;
}
.subpopup a:hover {
	color: #c3c3c3;
}
.subpopup ul li {
	cursor: auto;
}
.subpopup .leaflet-popup-tip {
	position: absolute;
	top: 5px;
	left: 50%;
	
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);

	z-index: 9;
}


/* MARKERS */
.leaflet-pane.leaflet-marker-pane:not(.visible) {
	display: none;
}


/* TXT-PAGE */
.relative {
	position: relative;
	height: 100vh;
	
	background: #ddd;
}

.relative .empty {
	position: fixed;
}

article ul {
  display: flex;
  flex-wrap: wrap;

  margin-top: 2rem;
}
article ul li {
  list-style: none;
  margin-right: 50px;
  margin-bottom: 2rem;
}
article img {
  max-width: 100%;
  max-height: 40px;
  height: auto;
}




/* RESPONSIVE */

#mapid {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
}

@media only screen and (min-width : 992px) {

#mapid {
	position: fixed;
	-ms-flex: 0 0 58.333333%;
	flex: 0 0 58.333333%;
	max-width: 58.333333%;
}

}

@media only screen and (max-width : 992px) {

#mapid {
	width: 80%;
	left: 10%;
}
.relative {
	height: 30vh;
	background: none;
}
.relative .empty {
	position: static;
}


}